:root{
    --primary: rgba(111, 25, 25, 0.72);
    --light: white;
    --grey: #efefef;

}

body{
    background-color: black;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary)
    
}

.d-flex{
    display: none;
}