<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BiblioWeb | Catalogo</title>
        <!-- CSS -->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">   
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!-- Font Awesome (Icons) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>

<body style="background-color: black;">

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link fw-bold fs-4" aria-current="page" href="/templates/home-page.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active fw-bold fs-4" href="/templates/catalogue.html">Catálogo</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link fw-bold fs-4" href="/templates/ubi.html">Ubicacion</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link fw-bold fs-4" href="/templates/contact.html">Contacto</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link fw-bold fs-4" href="/templates/signin.html">Iniciar Sesión</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <!-- Content -->
    <div class="container-md">
      <div class="row">
        <div class="col align-content-center" style="  display: flex; align-items: center; justify-content: center;">
          <img src="/static/assets/img/logo2.png" id="logo-fluid" alt="" style="max-width: 70vh;">
      </div> 
      </div>

    <form id="search-form">
      <input type="text" name="barra-busqueda" id="barra-busqueda" placeholder="Escribe el título o autor del libro">
      <button type="submit">Buscar</button>
    </form>

    </div>
    <div class="container-md">
      <div class="row">
          <div class="col text-center">
            <div class="image-container">
              <a href="/templates/download/5-lenguajes-del-amor.html"><img src="/static/assets/img/PORTADAS/5-lenguajes-del-amor.jpg" alt=""></a>
              <a href="/templates/download/50-tecnicas-mindfullnes.html"><img src="/static/assets/img/PORTADAS/50-tecnicas-mindfullnes.jpg" alt=""></a>
              <a href="/templates/download/a-fuego-lento.html"><img src="/static/assets/img/PORTADAS/a-fuego-lento.jpg" alt=""></a>
              <a href="/templates/download/como-el-fuego.html"><img src="/static/assets/img/PORTADAS/como-el-fuego.jpg" alt=""></a>
              <a href="/templates/download/confiar-again.html"><img src="/static/assets/img/PORTADAS/confiar.jpg" alt=""></a>
              <a href="/templates/download/corazon-oscuro.html"><img src="/static/assets/img/PORTADAS/corazon-oscuro.jpg" alt=""></a>
              <a href="/templates/download/desarrolla-una-mente-prodigiosa.html"><img src="/static/assets/img/PORTADAS/dearrolla-una-mente-prodigiosa.jpg" alt=""></a>
              <a href="/templates/download/el-alquimista.html"><img src="/static/assets/img/PORTADAS/el-alquimista.jpg" alt=""></a>
              <a href="/templates/download/el-arte-de-la-guerra.html"><img src="/static/assets/img/PORTADAS/el-arte-de-la-guerra.png" alt=""></a>
              <a href="/templates/download/el-principe-del-sol.html"><img src="/static/assets/img/PORTADAS/el-principe-del-sol.jpg" alt=""></a>
              <a href="/templates/download/gestiona-mejor-tu-vida.html"><img src="/static/assets/img/PORTADAS/gestiona-mejor-tu-vida.jpg" alt=""></a>
              <a href="/templates/download/ingles-en-7-dias.html"><img src="/static/assets/img/PORTADAS/ingles-en-7-dias.jpg" alt=""></a>
              <a href="/templates/download/lolita.html"><img src="/static/assets/img/PORTADAS/lolita.jpg" alt=""></a>
              <a href="/templates/download/matar-un-reino.html"><img src="/static/assets/img/PORTADAS/matar-un-reino.jpg" alt=""></a>
              <a href="/templates/download/metodo-ikigai.html"><img src="/static/assets/img/PORTADAS/metodo-ikigai.jpg" alt=""></a>
              <a href="/templates/download/oceano-ojos.html"><img src="/static/assets/img/PORTADAS/oceano-ojos.jpg" alt=""></a>
              <a href="/templates/download/perfectos-mentirosos.html"><img src="/static/assets/img/PORTADAS/perfectos-mentirosos.jpg" alt=""></a>
              <a href="/templates/download/prohibido.html"><img src="/static/assets/img/PORTADAS/prohibido.jpg" alt=""></a>
              <a href="/templates/download/renegados.html"><img src="/static/assets/img/PORTADAS/renegados.jpg" alt=""></a>
              <a href="/templates/download/seis-de-cuervos.html"><img src="/static/assets/img/PORTADAS/seis-de-cuervos.jpg" alt=""></a>
              <a href="/templates/download/semana-laboral-de-4-horas.html"><img src="/static/assets/img/PORTADAS/semana-laboral-4-horas.jpg" alt=""></a>
              <a href="/templates/download/the-unhoneymooners.html"><img src="/static/assets/img/PORTADAS/the-unhoneymooners.jpg" alt=""></a>
              <a href="/templates/download/todo-lo-que-nunca-fuimos.html"><img src="/static/assets/img/PORTADAS/todo-lo-que-nunca-fuimos.jpg" alt=""></a>
              <a href="/templates/download/true-colors.html"><img src="/static/assets/img/PORTADAS/true-colors.jpg" alt=""></a>
            </div>
          </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div>
          <div>
              <div>Copyright &copy; BiblioWeb 2024</div>
          </div>
      </div>
  </footer>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
