<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <div><h1>Contacto</h1> </div>
    <h2><label>Formulario de contacto</label></h2><br>
    <h3>Nombre</h3><br>
    <input type="text" name="" id="">
    <h3>Apellido</h3><br>
    <input type="text" name="" id="">
    <h3>Numero telefonico</h3><br>
    <input type="text" name="" id="">
    <h3>Correo</h3><br><input type="text" name="" id="">
    
</body>

</html>
