<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioweb | Download</title>
    
</head>

<body>

    <!-- Header -->
    <header>
        <nav id="mainNav">
            <div>
                <a href="homepage.html" style="background-image: url('/static/assets/favicon.ico'); width: 50px; height: 50px; background-position: center; background-size: contain;"></a>
                <p href="homepage.html">BiblioWeb</p>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i></i>
                </button>
                <div id="navbarResponsive">
                    <ul>
                        <li><a href="homepage.html">Home</a></li>
                        <li><a href="catalogue.html">Catalogue</a></li>
                        <li><a href="download.html">Download</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <h1>Descarga</h1>
    
    
</body>

</html>