<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BiblioWeb</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    <!-- CSS -->
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<body>
    
    <!-- Header -->
    <header>
        <nav id="mainNav">
            <div>
                <a href="homepage.html" style="background-image: url('/static/assets/favicon.ico'); width: 50px; height: 50px; background-position: center; background-size: contain;"></a>
                <p href="homepage.html">BiblioWeb</p>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i></i>
                </button>
                <div id="navbarResponsive">
                    <ul>
                        <li><a href="homepage.html">Home</a></li>
                        <li><a href="catalogue.html">Catalogue</a></li>
                        <li><a href="download.html">Download</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="singin.html">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div style="background-image: url('/static/assets/img/homepage-bg.jpg'); background-size: cover; background-position: center;">
                <h2></h2>
                <style>
                    header .Descripción {color:white}
                    header .description {color:white}
                </style>
                <header>
                <p class="Descripción">Descubre una amplia variedad de eBooks para tu aprendizaje. Tenemos libros en todas las categorías, desde literatura clásica hasta tecnología y negocios.</p>
                <p class="description">Descubre las últimas tendencias y avances en tecnología.</p>   
                </header>
                
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div>
            <div>
                <ul>
                    <li>
                        <a href="#!">
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <span></span>
                        </a>
                    </li>
                </ul>
                <div>
                    Copyright &copy; BiblioWeb 2024
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
