<!DOCTYPE html>
<html lang="en">

  <head>
  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="static/assets/favicon.ico"
      type="image/x-icon"
    />
    <title>HTML Clase 1.</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    
  </head>
  
  <body>
    
    <div>
      <h1>HOLA MUNDO!!</h1>
    </div>

    <P>Parrafo 1.</P>
    <span>Esto no es un parrafo.</span>
    
  </body>
  
</html>
