<html lang="en">

  <head>
    
    <link
      rel="shortcut icon"
      href="static/assets/favicon.ico"
      type="image/x-icon"
    />
    <title>HTML Clase 1.</title>
    <link rel="stylesheet" href="static/css/styles.css" />

  </head>

  <body> 

    <div>
      <h1>HOLA MUNDO!!</h1>
    </div>

    <p>Parrafo 1.</p>
    <p>Parrafo 2.</p>
    <span>Texto no estrurado sin margenes.</span>
    <br />
    <span>Otro ejemplo de texto <b>no estructurado.</b></span>

    <hr />

    <h6>Item con simbolos</h6>

    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>

    <hr />

    <h6>Item sin simbolos</h6>

    <ol>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ol>

    <hr />

    <table style: border="5rem">
      <tr>
        <th>id</th>
        <th>nombre</th>
        <th>edad</th>
        <th>correo</th>
      </tr>
      <tr>
        <td>1</td>
        <td>kelvin a. moreno</td>
        <td>18</td>
        <td>kel.moreno@duocuc.cl</td>
      </tr>
    </table>

  </body>

</html>
