<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BiblioWeb</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    <!-- CSS -->
    <link href="/static/css/styles.css" rel="stylesheet" />

</head>

<body>
    <h1>Login page</h1>
    
    <form class="login"></form>
        <label for="txtEmail">Email</label>
        <input type="email" name="txtEmail" id="txtEmail" required />
        <br>
        <label for="txtPassword">Password</label>
        <input type="password" name="txtPassword" id="txtPassword" required />
        <br>
        <input type="submit" value="Login" />
        <input type="button" value="Register" />

</body>

</html>